*{
    margin: 0%;
    padding: 0%;
}
.one{
    background-color: rgb(88, 88, 124);
    background-size: cover;
    height: 50rem;
    background-blend-mode: overlay;
    background-image: url(./gabriel-beaudry-ntX2TjKrzLc-unsplash.jpg);
    
}
nav, .sec1text, ul, li, a{
    display: inline;
}
.sec1text{
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1rem;
}
.home{
    color: blue;
    text-decoration: underline;
    margin-left: 60rem;
}
a:hover{
    color: blue;
}
.seconetext{
    text-align: center;
}